.list-group-test {
	background-color: #DEC4FC;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 25px;
	text-align: center;
}

.list-group-test-2 {
	background-color: #79A8FF;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
	text-align: center;
	
}
